body {
    margin: 0;
    padding: 0;
    color: rgb(34, 34, 34);
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}

/* scrolls */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #404040;
}

/* links */

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #a5a5a5;
}

/* custom */

.error-text {
    font-size: 12px;
    line-height: 12px;
    color: rgb(244, 67, 54);
}

.big-text {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 42px;
}

.medium-text {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 36px;
}

.small-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 24px;
}